-# TODO: Replace this with a partial
%div{ class: "intro-text" }
  %p= @site['intro']
  %hr
%div{ class: "projects-header" }
  %h1 Projects
  %hr
%ul{ class: "projects" }
  - @projects.each do |p|
    %li{ class: "project", id: "project-#{p['slug']}" }
      %a{ href: "#{p['slug']}" }
        %div{ class: "slider" }
          %div{ id: "caption"}
          %img{ src: "assets/images/#{p['slug']}/thumb.png" }
          %div{ class: "caption-cover", style: "background-color: #{p['colour']}" }
          %div{ class: "caption-container" }
            %h2{ class: "caption caption-name" }=           p['name']
            %p{ class: "caption caption-short-desc" }     #{p['short_desc']}
            %ul{ class: "tools" }
              - unless p['tools'].nil?
                - p['tools'].each do |t|
                  %a{ href: "#{p['slug']}" }
                    %li{ class: "caption caption-tools" } #{t}
      %i
        %p{ style: "font-size: 1em; margin-top: 2px"}= p['name']
        %hr{ style: "margin-top: -15px" }

  - if @projects.size % 3 != 0
    %li{ class: "project" }

