!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %title= "#{@project['name'] + " | " unless @project.nil?}Craig Lomax"
    %link{ href: "assets/css/styles.css", rel: "stylesheet" }
    %link{ href: "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", rel: "stylesheet" }
    %link{ href: 'https://fonts.googleapis.com/css?family=Noto+Sans', rel: 'stylesheet', type: 'text/css' }

%body
  %section.header
    %table
      %tr
        %td
        %td
          %a{ href: "/" }
            %img.logo{ alt: "Logo", title: "Home", src: "assets/images/icons/logo_name.png" }
        %td
          %ul.menu
            %li
              %a{ href: "https://github.com/clomax" }
                %img{ alt: "github", title: "My Github Profile", src: "assets/images/icons/github.png" }
  %section.container
    = yield

  %section.footer
    %p.copyright= "&#169; Craig Lomax #{Time.now.year}"
