%section.container
  %h1= @project['name']

  %hr

  -# Match all images that aren't the thumbnail
  -# TODO: Give these images a lightbox
  -#- Dir["assets/images/evosim/[^thumb]*"].each do |img|
  -#  %img{ class: "gallery", src: img, width: "20%" }

  - unless @project['source_code'].nil?
    %a{ href: "#{@project['source_code']}" }
      %p Source code

  - unless @project['download_from'].nil?
    %a{ href: "#{@project['download_from']}" }
      %p Download

  -@project['tools'].each do |t|
    =t

  %section{ class: "article" }
    =markdown(@project_md)

  %ul{ class: "projects" }
    - @other_projects.each do |p|
      %li{ class: "project", id: "project-#{p['slug']}" }
        %a{ href: "#{p['slug']}" }
          %div{ class: "slider" }
            %div{ id: "caption"}
            %img{ src: "assets/images/#{p['slug']}/thumb.png" }
            %div{ class: "caption-cover", style: "background-color: #{p['colour']}" }
            %div{ class: "caption-container" }
              %h2{ class: "caption caption-name" }=           p['name']
              %p{ class: "caption caption-short-desc" }     #{p['short_desc']}
              %ul{ class: "tools" }
                - p['tools'].each do |t|
                  %a{ href: "#" }
                    %li{ class: "caption caption-tools" } #{t}
        %i
          %p{ style: "font-size: 1em; margin-top: 2px"}= p['name']
          %hr{ style: "margin-top: -15px" }

    - if @other_projects.size % 3 != 0
      %li{ class: "project" }

